
<div class="home-header">
  <div class="swiper-button-prev"></div>
  <div class="carroussel-item active">
    
    <div class="left-header">
      <h1 class="reveal">Cap<span class='grey'>.</span>cat</h1>
      <h2>Nouveau : <span class="border-title">l'ep "Edie"</span></h2>
      <%= cl_video_tag ("lgpkeqhue16mcuwqqooz1ds9zxln"), class:'not-mobile reveal'%>
    </div>

    <div class="right-header">
      <%= cl_image_tag ("xvs28g4f619vtmd31gay1u1f5myf") , class:"reveal"%>
      <p>4 morceaux : Meet. My dub. Buddy. Eddie. Un EP plutôt electro !</p>
      <a class="btn reveal" href="https://www.capdotcat.com/albums/12">Découvrir ></a>
    </div>


  </div>

  <div class="carroussel-item">


    <div class="left-header">
      <h1>Cap<span class='grey'>.</span>cat</h1>
      <h2>Feeling like a <span class="border-title">rat/city</span> in a big <span class="border-title">city/rat</span></h2>
      <%= cl_image_tag ("kvgj8h5g8og8i6ex0lblrlsl77sl"), class:'not-mobile'%>
    </div> 

    <div class="right-header">
      <%= cl_image_tag ("n4h17s9y7exy77orfgojbfoyn85j")%>
      <p>2 EPs, 2 morceaux qui se renvoient la balle. Plutôt city ou rat ?</p>
      <a class="btn reveal" href="https://www.capdotcat.com/albums/">Découvrir ></a>
    </div>


  </div>

  <div class="swiper-button-next"></div>

</div>

<%# <div class="canva">
<canvas id="canvas-section-green"></canvas>
</div> %>

<div class="about reveal ">
  <div class="left-capcat">
    <canvas id="canvas-capcat"></canvas>
    <%= cl_image_tag "capcat-blue_evrxsj", class:' reveal' %>
  </div>

  <div class="description">
    <h2 class="reveal">Can you dig it ?</h2>
    <p>If you're here then you know.</p><br>
    <p>Je suis <span class='border-title' style="font-family: 'Rubik Mono One', sans-serif; font-size: 1.8em">cap.cat</span>, connu sous plusieurs noms mais, en fait, inconnu.</p>
    <p>Je suis passionné par les anciennes et nouvelles façons de faire de <strong>la musique, le pianos</strong> (j'ai un crumar seven pour jouer en live avec le crew, et je le sample beaucoup), la photographie et la peinture.</p>
    <p>Influencé par la techno et le hiphop des années 90, je ne veux que me détendre et frissonner en faisant et en écoutant de la musique.</p>
    <p>Je me démène pendant la journée dans l'ingénierie afin de pouvoir être vraiment libre quand il s'agit de produire de la musique indépendante.</p>
    <p>Soutenez-moi, écoutez mes projets, c'est le seul marketing que j'ai !</p>
    <br>
    <%= link_to "écoute mes sons >", albums_path, class:'btn reveal' %>
  </div>

</div>

  <div class="insta">
    <h2 class="reveal">Tout dans la pochette</h2>
    <p class="reveal">Retrouve toutes mes illustrations sur mon <a href="https://www.instagram.com/cap.cat.tdlp/" class="link" target="blank">insta</a> ! </p>
    <div class="swiper-container">
      
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

          <div class="swiper-slide">
            <%= cl_video_tag "b6w4abijfh4juc9ymcqdanfwlyyn", autoplay: true, controls: true, muted: true, loop: true %> 
          </div> 


          <div class="swiper-slide">
            <%= cl_image_tag "dasnflfc8u3mn7ivsffbnfr6byz9" %> 
          </div>

          <div class="swiper-slide">
            <%= cl_image_tag "0dya6rk2m6flelbhw147xgqsdtd0" %> 
          </div>

          <div class="swiper-slide">
            <%= cl_video_tag "cyphj05rs550w4epsgzga2jebkfi", autoplay: true, controls: true, muted: true, loop: true %> 
          </div> 

          <div class="swiper-slide">
            <%= cl_image_tag "ufldhno3emfds5dh4kqqf269tr7j" %> 
          </div>

          <div class="swiper-slide">
            <%= cl_image_tag "lrjyq6wn3zffkp2101q5sk72rm2g" %> 
          </div>

      </div>


      <!-- If we need pagination -->
      <!--       <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>



<%# <%= render 'instagrams/swiper-insta' %>

<div class="music nonav">
 <iframe src="https://open.spotify.com/embed/artist/7wRVohawGTBOr0KGEK4ZoB?theme=0" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>