<div id="new-album">
  <h1 class="reveal">Ajouter un nouvel album :</h1>

  <%= form_for @album do |f| %>
    <%= f.text_field :name, placeholder:"Nom" %>
    <%= f.date_field :date %>
    <br><br>
    <%= f.text_field :spotify, placeholder:"Lien spotify" %>
    <%= f.text_field :deezer, placeholder:"Lien deezer" %>
    <%= f.text_field :youtube, placeholder:"Lien youtube" %>
    <%= f.text_field :amuse, placeholder:"Lien amuse" %>
    <br><br>
    <%= f.text_field :description, placeholder:"Description", style:"width: 100%; height: 200px;" %>
    <br><br>
    <%= f.text_field :player, placeholder:"Player", style:"width: 100%; height: 200px;" %>
    <br><br>
    <%= f.file_field :pochette, as: :file, id:"file-input" %>
    <br><br>
    <%= f.file_field :images, as: :file, id:"file-input", multiple: "true" %>
        <br><br>
    <%= f.file_field :videos, as: :file, id:"file-input", multiple: "true" %>
    <br><br>
    <%= f.submit value: "AJOUTER L'ALBUM", id:"submit-album" %>
  <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-user"></i><p>Log out</p>
    <% end %>

</div>

