<!DOCTYPE html>
<html>
  <head>
    <title>CapCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/meta_tags' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    
  </body>
</html>
